.login_container {
	-fx-background-color: #FFFFFF;
}

/* logo container Styles */
.login_logo_container{
	
	-fx-background-color:#00203FFF;
	-fx-alignment: center;
}

.login_logo_container Text{
	
	-fx-font-size: 2em;
    -fx-fill: #FFFFFF;
    -fx-font-family: "Copperplate";
}

/*Account Selector ChoiceBox Styles */

.account_selector {
	
	-fx-text-fill: #004080;
	
}



.account_selector arrow {
	
	-fx-text-fill: #80ccff;
	
	
	
}

.account_selector .label {
	-fx-background-color: #80ccff;
	-fx-font-size: 1em;
	
}

#choice-box-popup-menu {
	-fx-background-color: #004080;
}

/*Login form styles */

#choice-prompt-text{
	-fx-font-weight:400;
}


.login_form_container{
	-fx-spacing:15;
	-fx-alignment: top-left;
	
}

.login_form_container label{
	-fx-font-size: 1em;
	-fx-font-weight: bold;
	-fx-text-fill: #004080;
	
}

.input_field{
	
	-fx-background-color: #FFFFFF;
	-fx-pref-height: 35;
	-fx-font-size:1.2em;
	 -fx-border-color: #004080; 
    -fx-border-width: 2px; 
    -fx-border-style: solid; 
	
}
.login_form_container Button{
	-fx-background-color: #00203FFF;
	-fx-text-fill: #FFFFFF;
	-fx-pref-width: 350;
	-fx-pref-height: 30;
	-fx-font-size: 1.2em;
	
	
}

.login_form_container Button:hover {
	-fx-cursor: hand;
	
}

.error_lbl{
	
	-fx-text-fill: red;
}




